{{#partial "content"}}


    {{#if username}}

        <div class="row username">
            <h1 class="welcome">{{username}},<span>Welcome to Hero Squad.Create your squads and heroes</span></h1>
        </div>
        <div class="row indexButton">
            <div class="create">
                <a href="/create/hero"><button class="light btn-warning btn-sm">Create Hero</button></a>
                <a href="/create/squad"><button class="light btn-warning btn-sm">Create Squad</button></a>
                <a href="/index.hbs"><button class="light btn-warning btn-sm">LOG OUT</button></a>


            </div>


        </div>


    {{else}}
        <form action="/welcome" method="post">
            <h1 class="light">Welcome <br>to Hero Squad </h1>
            <h3 class="light"style="font-size:60px;">SIGN IN FOR MORE!!!</h3><br><br>
                <label for="username"style="color:white;">Name</label><br>
             <br>
                <input type="text" name="username" id="username"style="width:50%;color:black;"><br>
                   <br>
                <button type="submit" class="light btn-warning btn-sm"style="text-align:center;">Sign In</button>



        </form>



    {{/if}}






{{/partial}}



{{> layout.hbs}}