

body{
background-image: url('https://cdn.statically.io/img/images.hdqwalls.com/download/bad-cyber-girl-4k-7t-1920x1080.jpg');
background-repeat: no-repeat;
height:100%;
background-size: cover;
background-position: center ;
}
