
{{#partial "content"}}
    <div class="welcome">
        <h1>THE INVINCIBLE HEROES</h1>
        <h1>WELCOME TO HERO SQUAD.CREATE YOUR HEROES AND SQUADS.YOU CAN ADD YOUR HEROES TO A SQUAD.</h1>
    </div>
    </section>
{{/partial}}
{{> layout.hbs}}