
{{#partial "content"}}
    <div class="col-md-4"><div class="welcome">
        <h1>THE INVINCIBLE HEROES</h1>
        <h1>WELCOME TO HERO SQUAD.CREATE YOUR HEROES AND SQUADS.YOU CAN ADD YOUR HEROES TO A SQUAD.</h1>
        <a href="/hero-form"><button class="hero-btn btns">Create Hero</button></a>
    </div>
    </div>

  </section>
{{/partial}}
{{> layout.hbs}}