{{#partial "content"}}
    <section class="landing-pg">
        <div class="glow">
            <h3>Success <br>  <span>{{ item }} </span> <br> Has been created <br>{{sqId}}</h3>
        </div>
        <a href="/hero" class="btn btn-danger">SEE HEROES</a>
        <a href="/squad" class="btn btn-danger">SEE SQUADS</a>
    </section>
{{/partial}}
{{> layout.hbs}}